<div class="post w-full sm:max-w-xs sm:w-1/2 md:max-w-md lg:max-w-lg lg:w-1/3 xl:max-w-xl" id="post" class="post-stub" onclick="location.href='  <%= theme.excerpt_link %>'; ">
   
    <!-- Title -->
 
    <div id="post" class="post-stub " onclick="location.href='   <%= theme.excerpt_link %>';">
       
       <h2 class="post-title ">
            <a href="<%- config.root %><%- item.path %>" class="post-title-h2 ">
                <%- item.title %>
                
            </a>
        </h2>
         
          <!-- tag -->
        
        
    </div> 
    
    
    
</div> 
